.body {
    background-color: rgb(248, 250, 250);
font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

    font-size: 1.25rem;
    line-height: 150%;
    text-align: center;
    text-shadow: 0 2px 2px #dd8e34;
}


.name {
    color: black;
    background-color: rgb(120, 124, 124);


    

}

.thingstowork {

    border: 2px solid;
    row-gap: 5px;
    column-gap: 5px;
    box-sizing: border-box;



}


.send {
    font-size: 1.25rem;
    line-height: 150%;
    text-align: center;
    text-shadow: 0 2px 2px #b6701e;
}
.submit {
    font-size: 1.25rem;
    line-height: 150%;
    text-align: center;
    text-shadow: 0 2px 2px #b6701e;
}
    